<div class = "page-header"><h1> Search Results </h1> 
<h2> Here are your search results </h2> </div>

<h3> Here are the users that match your query </h3>

<button class= "btn btn-primary" id="search3"> Show Results </button>
<table class = "table table-striped" id="users2">
	<tr>
		<th> Name </th>
		<th> Dorm </th>
	</tr>
	<tr>
<% @users.each do |user| %>
	<td> <%= user.name%> </td>
	<td> <%= user.dorm.name%> </td>
<% end%>
</tr>
</table>


<div id = "dorms"> 
	<h3> Here are the dorms that matched your query </h3>
	<button class= "btn btn-primary" id="search4"> Show Results </button>
<table class = "table table-striped" id="dorms2">
	<tr>
		<th> Dorm </th>
	</tr>
	<tr>
<% @dorms.each do |dorm| %>
	<td> <%=link_to dorm.name, dorm%> </td>
<%end%>
</tr>
</table>
</div>
</html>

