// Place all the styles related to the Search controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#dorms {
	padding: 5px; 
}

#search3 {
	position: relative; 
	left: 380px; 
	bottom: 25px; 
}

#search4 {
	position: relative; 
	left: 402px; 
	bottom: 25px;
}

table {
  display: none;
}